* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 1.5vh 15vw;
  display: flex;
  flex-direction: column;
  background: #333333;
}
.service-title {
  text-align: center;
  font-size: 6.8vh;
  color: #c09933;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .top-page-header,
  .service-title {
    width:100%;
    font-size: 100%;
    margin: 0 auto ;
   }
 }

  /* スマホ表示時 */
@media (max-width: 599px) {
  .top-page-header,
  .service-title {
    width:100%;
    font-size: 80%;
    margin: 0 auto ;
   }
 }