a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* ログイン表示時 */
.title-contents-login {
  width: 100vw;
  background-image: image-url('login-demi.jpg');
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: center;
  padding: 7vh 15vw 13vh 15vw;
  color: white;
}

.service-explain-login,
.main-category-search-login {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  text-shadow:
  1px 0 0 black,
  0 1px 0 black,
  -1px 0 0 black,
  0 -1px 0 black,   
}
.service-explain-login {
  font-size: 3.8vh;
}
.main-category-search-login {
  font-size: 3.4vh;
}

/* ログアウト表示時 */
.title-contents-logout {
  width: 100vw;
  background-image: image-url('pexels-ksenia-chernaya.jpg');
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: center;
  padding: 7vh 15vw 13vh 15vw;
  color: #333333;
}
.service-explain-logout {
  font-size: 3.5vh;
  text-align: left;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

.main-category-search-logout,
.category-search {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

/* 共通表示時 */
.nav-search{
  font-size: 23px;
  display: flex;
  justify-content:space-between;
  width: 80vw;
  height: 60vh;
}

.main-category-search{
  font-size: 20px;
}

.category-search{
  margin-left: 25px;
}

.search-button-login {
  width: 5vh;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: #C09933;
  padding: 10px;
}
.search-button-logout {
  width: 5vh;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: #333333;
  padding: 10px;
}

.search-button-login:hover,
.search-button-logout:hover {
  background: #AA0000;
  color: #fff;
}
.search-icon {
  width: 100%;
}

.order-limit {
  color: red;
  font-size: 20px;
}

.nav {
  font-size: 23px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.lists-signlog {
  width: 100vh;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 3px;
}

.user-nickname,
.logout,
.login,
.sign-up {
  text-decoration: none;
  border: 1px solid white;
  color: white;
  padding: 10px ;
  background: #333333;
  border-radius: 5%;
  color: #C09933;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}
.user-nickname:hover,
.logout:hover, 
.login:hover, 
.sign-up:hover {
  color: white;
}

.service-last-explain {
  font-size: 3.1vh;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  
}

/* vending-choicesについて */
.select-reason-contents {
  padding: 10vh 15vw 12vh 15vw;
  background: #FFEFD5	;
  border-top: 2px solid #333333;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 200px;
  height: 4px;
  background-color: #AA0000;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.reason-btn {
  height: 11vh;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #333333;
  color: #C09933;
}

.reason-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.reason-list-main-text {
  color: #AA0000;
}

.reason-list-description {
  font-size: 20px;
  margin-top:2px;
}


 /* タブレット表示時 */
 @media (max-width: 1024px) {
  .title-contents-logout,
  .title-contents-login  {
    width: 100%;
    margin: 0 auto;

   }
   .main-category-search-login,
   .service-explain-logout,
   .service-explain-login, 
   .nav-search
    {
    font-size: 90%;
  }
  .user-nickname,
  .logout,
  .login,
  .sign-up{
    font-size: 80%;
    margin: 0 auto;
  }
 }
 
 /* スマホ表示時 */
 @media (max-width: 500px) {
  .title-contents-logout,
  .title-contents-login  {
    width: 100%;
    margin: 0 auto;

   }
   .main-category-search-login,
   .service-explain-logout,
   .service-explain-login, 
   .nav-search
    {
    font-size: 80%;
  }
  .user-nickname,
  .logout,
  .login,
  .sign-up{
    font-size: 30%;
  }
 }