a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

.title-contents {
  width: 100vw;
  background-image: image-url('pexels-ksenia-chernaya.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1.5);
}

.service-title {
  font-size: 6.8vh;
}

.service-explain {
  font-size: 3.1vh;
  line-height: 90px;
}

.list-pict {
  margin-bottom: 20px;
  width: 19%;
}

.select-reason-contents {
  padding: 5vh 15vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 200px;
  height: 4px;
  background-color: #FFCC00;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.reason-btn {
  height: 11vh;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #666666;
  color: #fff;
}

.reason-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.reason-list-main-text {
  color: #FF6666;
}

.reason-list-description {
  font-size: 20px;
  margin-top:2px;
}
