a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

.title-contents {
  width: 100vw;
  background-image: image-url('pexels-ksenia-chernaya.jpg');
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #333333;
  text-shadow: 1px 1px 5px white;
}

.service-title {
  font-size: 6.8vh;
  color: #c09933;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}


.service-explain {
  font-size: 3.1vh;
  text-align: center;
}
.service-last-explain {
  font-size: 3.1vh;
  margin-left: 600px;
  margin-bottom: 400px;
  
}
.nav-search{
  font-size: 23px;
  display: flex;
  width: 120%;
}

.search-button {
  width: 5vh;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: #333333;
  padding: 10px;
}
.search-icon {
  width: 100%;
}

.select-reason-contents {
  padding: 13vh 15vw;
  background: #FFEFD5	;
  border-top: 2px solid #333333;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 200px;
  height: 4px;
  background-color: #AA0000;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.reason-btn {
  height: 11vh;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #333333;
  color: #C09933;
}

.reason-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.reason-list-main-text {
  color: #AA0000;
}

.reason-list-description {
  font-size: 20px;
  margin-top:2px;
}
