/* 登録内容の表示 */


.form-wrap {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}
.user-explain-box {
  font-size: 20px;
  font-weight: bold;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  margin: 30px 0px;
  overflow-wrap: anywhere;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-user {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.detail-btn {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* position: relative; */
}

.item-red-btn {
  width: 20vw;
  text-align: center;
  background-color: #ea352d;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  margin: 5px auto;
  padding: 2vh 3vw;
}

.return-top {
  width: 20vw;
  background-color: #333333;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #c09933;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  margin: 5px auto;
  padding: 2vh 3vw;
}


